:root {
    --black: #242426;
    --blue: #3DA2E4;
    --gray-dark: #B8B8B8;
    --gray-light: #F0F2F5;
    --white: #FFFFFF;

    --border-radius-default: 10px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

body {
    position: relative;
    background-color: var(--gray-light);
    
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    height: 100%;
}

@media (max-width: 599px) {
    .navbar {
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .nav-list {
        position: absolute;
        width: min(75%,300px);
        top: 0;
        right: 0;
        background-color: var(--gray-dark);
        transform: translate(100%);
        transition: 500ms;
        height: 100vh;
    }
    
    .nav-list[data-visible="true"] {
        transform: translate(0);
    }

    .nav-toggler{
        background-image: url(../img/hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: none;
        background-color: transparent;
        z-index: 999;
        width: 2.5rem;
        height: 2.5rem;
    }
    .nav-toggler[aria-expanded="true"] {
        background-image: url(../img/close.svg);
        background-size: 75%;
    }
}

@media (min-width: 600px) {
    .navbar {
        height: 100vh;
    }

    .navbar > .logo {
        display: none;
    }

    .nav-toggler {
        display: none;
    }

    .nav-list {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .nav-sub-list {
        gap: 1em;
    }
    
    .nav-item, .nav-sub-list {
        position: relative;
        display: flex;
    }
    
    .nav-list > * {
        padding: 1em 2em;
    }
    
    .nav-list > *:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
        align-items: start;
    }
      
    .nav-list > *:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
        align-items: start;
        justify-content: flex-end;
    }
      
    .nav-list > *:nth-child(3) {
        grid-row: 2;
        grid-column: 1;
        align-items: flex-end;
    }
      
    .nav-list > *:nth-child(4) {
        grid-row: 2;
        grid-column: 2;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .button {
        display: inline-block;
        padding: 1.325em 2.25em;
        border: 1px solid var(--gray-dark);
        border-radius: 50em;
        text-transform: uppercase;
        font-size: 1.4rem;
        background-color: var(--white);
        color: var(--black);
        cursor: pointer;
    
        -webkit-box-shadow: 0px 1px 1px 0px var(--gray-dark);
        -moz-box-shadow: 0px 1px 1px 0px var(--gray-dark);
        box-shadow: 0px 1px 1px 0px var(--gray-dark);
    }
    
    .btn-transparent {
        border: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    .btn-blue {
        background-color: var(--blue);
        color: var(--white);
        border: none;
        font-weight: 300;
    }
    
    .btn-dark-mode {
        position: relative;
        width: 55px;
        height: 28px;
        padding: 0;
        font-size: 0.9rem;
    }
    
    .btn-dark-mode::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 18px;
        height: 18px;
        border: 1px solid var(--gray-dark);
        border-radius: 50em;
        background-color: var(--gray-light);
    
        -webkit-box-shadow: 1px 0px 1px 0px var(--gray-dark);
        -moz-box-shadow: 1px 0px 1px 0px var(--gray-dark);
        box-shadow: 1px 0px 1px 0px var(--gray-dark);
    }
    
    .btn-dark-mode::after {
        content: "OFF";
        position: absolute;
        right: 6px;
        top: 8px;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
    }

}
